$color_link : #65911e;
@import "compass/css3/transform";
@import "compass/css3/transition";
@import "compass/css3/border-radius";
@import 'animate';
@import 'carousel';
 @font-face {
    font-family: mytext; /* Имя шрифта */
    src: url(../fonts/Gabriela-Regular.ttf); /* Путь к файлу со шрифтом */
   }

*{
	list-style-type: none;
	text-decoration: none !important;
}
.top{
	min-height: 60px;

	#verh{
		li{
			display: inline-block;
			margin-left: 20px;
			line-height: 60px;
			a{
				color: $color_link;
			}
		}
	}
	.search-top{
		line-height: 60px;
		input[type="text"]{
			background: $color_link;
		}
	}
}
.cart_top{
		img{
			position: absolute;
			right: 20%;
		}
		span{
			position: absolute;
			right: 21%;
			top: -21px;
			background: black;
			padding: 5px;
			border-radius: 37%;
			a{
				color: #fff;
			}
		}
	}
	.cont_top{
		color: #00a14b;
		font-size: 120%;
		font-family: serif;
		ul{
			li{
				display: inline-block;
				margin-left: 20px;
			}
		}
	}
	h1{
		text-align: center;
		color: #65911e !important;
		border-top: 2px solid;
		padding-top: 16px;
	}
	.firstChild{
		opacity: 1 !important;
		background: rgba(101, 145, 30, 0.82);
		@include border-radius(20px 20px);
		padding: 20px;
		transform: translateY(0%) !important;
	}
	.owl-item{

		.textbox{
		position: absolute;
		padding: 15px 0;
		top: 15%;
    	left: 30%;
		right: 30%;
    	width: 40%;
		font-size: 330%;
		color: #fff;
		transform: translateY(-100%);
		transition: all 1s ease-in-out;
		opacity: 0;
		font-family: mytext;
		p{
			text-align: center;
		}

	}
	.textIn{
			background: rgba(101, 145, 30, 0.82);
			transform: translateY(0%);
			@include border-radius(20px 20px);
			-webkit-box-shadow: 0px 0px 32px 11px rgba(0,0,0,0.75);
			-moz-box-shadow: 0px 0px 32px 11px rgba(0,0,0,0.75);
			box-shadow: 0px 0px 32px 11px rgba(0,0,0,0.75);
			opacity: 1;
		}
	}
	.page-title{
		margin-top: -16px;
		display: none;
	}
	.navbar-toggle{
  background: #b6ac8f !important;
  float: left !important;
  .icon-bar{
    background: $color_link;

  }
}
.menuRight{
	padding: 0px;
	border-left: 1px dotted #65911e;
	border-right: 1px dotted #65911e;
	li{
		/* border-bottom: 1px dotted;
		padding: 8px 0 8px 0px; */
		
		a{
			color: #000;
		    font-size: 16px;
		    letter-spacing: 2px;
		    font-family: mytext;
		    width: 100%;
    		border-bottom: 1px solid;
		    padding: 8px;
		    display: block;
		    position: relative;
		    overflow: hidden;
		    @include transition(all .2s ease-in);
		       &:before{
		       	content: '';
		       	width: 150%;
		       	height: 3px;
		       	display: block;
		       	background: #fff;
		       	position: absolute;
		       	left: -80%;
		       	@include transform(rotate(-50deg));
		       	@include transition(all 1s ease-in);
		      
		       }
		       	&:hover:before{
		       		left: 50%;
		       	}
		       &:hover{
			    background: #65911e;

		}
		}
	}
}
.catP{
	background: rgb(101, 145, 30);
    margin: 0;
    text-align: center;
    font-size: 19px;
    font-family: sans-serif;
    color: #fff;
    border-bottom: 2px dotted #317614;
}
.products{
	.thumbnail{
		    padding: 0 0 20px 0;
		    position: relative;
		    border-radius: 16% 16% 0 0;
			-moz-border-radius: 16% 16% 0 0;
			-webkit-border-radius: 16% 16% 0 0;

	}
	img{
		height: 200px !important;
		border-radius: 16%;
		-moz-border-radius: 16%;
		-webkit-border-radius: 16%;
		border: 2px solid #65911e;
	}
	h3{
		background: #65911e;
	    color: #fff;
	    padding: 5px 0;
	}
	.add_to_cart_button,.product_type_simple{
		background: $color_link;
		padding: 10px;
		@include border-radius(5px); 
		color: #fff;
		&:hover{
			background: green;
		}
	}
	.woocommerce-Price-amount{
		font-size: 18px;
		padding: 4px;
		color: #000;
	}
	.wc-forward{
		position: absolute;
		right: 0px;
		color: #fff;
		background: #65911e;;
		padding: 6px;
		bottom: 42px;
	}
}
.footer{
	background: rgb(239, 239, 239);;
	padding: 10px;
	border-top: 2px solid #65911e;
	div{
		padding: 20px;
		&:last-child{
			padding: 0px;
		}
	}
}
.sliderRight {
	width: 100%;
	li{
		width: 100%;
	}
	.owl-stage-outer{
	.owl-stage{
	.woocommerce-Price-amount,.woocommerce-Price-currencySymbol{
		display: none;
	}
	span{
		font-family:mytext;
		position: absolute;
	    background: #65911e;
	    color: #fff;
	    left: 0;
	    right: 0;
	    margin: 0 auto;
	    text-align: center;
	    font-size: 1.3em;
	}		

	img{
		width: 100%;
		height: 150px;
	}
		}
		
	}
}
